<html lang="en">
    <body>
        <div class>
            <form action="/authors" method="POST">
                <b>authors: </b></br> 
            <% if (authors.length > 0) { %>
                <% authors.forEach(authors => { %>
                    <b><%= authors.fn %> <%= authors.ln %></b>
                    <a href="/authors/<%=authors._id%>/edit?fn=<%=authors.fn%>&ln=<%=authors.ln%>">edit</a>
                    <a href="/authors/<%=authors._id%>/delete?fn=<%=authors.fn%>&ln=<%=authors.ln%>">delete</a>
                    <a href="/authors/<%=authors._id%>/replace?fn=<%=authors.fn%>&ln=<%=authors.ln%>">replace</a></br> 
                    <% }) %>
            <% } %>
            <br>
            <label>Add author</label>
            <br>

            <label>First name:
                <input type="text" id="fn" name="fn" value="<%= locals.fn  %>" required>
            </label><br>
            <label>Last name:
                <input type="text" id="ln" name="ln" value="<%= locals.ln  %>" required>
            </label>
            <br>
            <button>POST</button>
    </body>
</html>