<html lang="en">
    <link rel="stylesheet" type="text/css" href="./styles.css" />
    <body>
        <div class>
            <form action="/books" method="POST">
                <b>Books: </b></br> 
            <% if (books.length > 0) { %>
                <% books.forEach(books => { %>
                    <b><%= books.title %> <%= books.desc %></b>
                    <a href="/books/<%=books._id%>/edit?title=<%=books.title%>&desc=<%=books.desc%>">Edit</a>
                    <a href="/books/<%=books._id%>/delete?title=<%=books.title%>&desc=<%=books.desc%>">Delete</a>
                    <a href="/books/<%=books._id%>/replace?title=<%=books.title%>&desc=<%=books.desc%>">Replace</a></br> 
                    <% }) %>
            <% } %>
            <br>
            <label>Add books</label>
            <br>

            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Book Title:
                <input type="text" id="title" name="title" value="<%= locals.title  %>" required>
            </label><br>
            <label>Book Description:
                <input type="text" id="desc" name="desc" value="<%= locals.desc  %>" required>
            </label>
            <br>
            <br>
            <button>POST</button>
            <%- include('./partials/navi.ejs') %>
    </body>
</html>