<html lang="en">
    <body>
        <div>
            <form action="/films" method="POST">
                <b>Films: </b></br> 
            <% if (Films.length > 0) { %>
                <% Films.forEach(film => { %>
                    <b><%= film.title %> <%= film.description %></b>
                    <!-- <a href="/films/<%=film._id%>/edit?firstName=<%=film.title%>&lastName=<%=film.description%>">edit</a>
                    <a href="/films/<%=film._id%>/delete?firstName=<%=film.title%>&lastName=<%=film.description%>">delete</a>
                    <a href="/films/<%=film._id%>/replace?firstName=<%=film.title%>&lastName=<%=film.description%>">replace</a> -->
                </br> 
                    <% }) %>
            <% } %>
            </br>
        </form>
        </div>
    </body>

</html>